<h4>Mars Rover Photos</h4>
<div *ngIf="dataMarsPhotos">
    <div *ngFor="let item of dataMarsPhotos" style="padding: 7px;">
        <div class="card" style="width: 12rem;">
            <img src="{{item.img_src}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Camera: {{item.camera.name}}</h5>
              <p class="card-text">Rover: {{ item.rover.name }}</p>
              <p class="card-text">Status:  {{ item.rover.status }}</p>
            </div>
        </div>
    </div>
</div>